<%- partial('_partial/head') %>
<div id="wrapper" class="typo typo-selection">
<%- partial('_partial/header',null, {cache: !config.relative_link}) %>
<section id="post-list"><%- body %></section>
<%- partial('_partial/footer',null, {cache: !config.relative_link}) %>
</div>