doctype html
//- head file
head(lang=config.language)
    include head.pug

//- index main
body
    //- navbar
    .navbar
        include nav.pug

    block pageinfo
        
    //- block container
    .container
        block container

    //- block paginator
    .paginator
        block paginator