@charset "utf-8";

/*--common--*/
body {
   padding: 0;
   margin: 0;
   color: #888888;
   font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
ul > li {
    list-style: none;
}
a {
    text-decoration: none;
}

/*设置全局被点击后的链接颜色*/
a:visited {color: #35b558 !important}
/*设置全局鼠标悬停在链接上未点击时的颜色*/
a:hover {color: #ddd !important}
/*设置全局鼠标在点击链接瞬间发生的动作*/
a:active {color: #000 !important}
/*--navbar--*/
.navbar {
    position: fixed;
    top:0;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    text-align: right;
    background: #24292e;
}
.navbar > ul > li{
    display: inline-block;
    margin-right: 10px;
}
.navbar > ul > li:last-child{
    margin-right: 50px;
}
.navbar > ul > li > a{
    color:#35b558;
}
/*--logo--*/
.logo {
    margin-top: 160px;
    text-align: center;
}
.logo:hover{
    -webkit-animation:pulse 1s .2s ease both;
    -moz-animation:pulse 1s .2s ease both;
}
.logo > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: logoshadow 3s forwards;
    -moz-animation: logoshadow 3s forwards;	/* Firefox */
    -webkit-animation: logoshadow 3s forwards;	/* Safari 和 Chrome */
    -o-animation: logoshadow 3s forwards;	/* Opera */
}
.main {
    margin-top: 60px;
    text-align: center;
}
.main > p {
    margin-top: 40px;
}
.main > div.social {
    margin-top: 40px;
}
.social{
    -webkit-animation:bounceInDown 3s .2s ease both;
    -moz-animation:bounceInDown 3s .2s ease both;
}
.button {
    display: inline-block;
    margin: 0 4px;
    height: 26px;
    width: 60px;
    background: #35b558;
    color: #fff;
    border: 1px solid #35b558;
    border-radius: 5px;
    animation: logoshadow 3s forwards;
    -moz-animation: logoshadow 3s forwards;	/* Firefox */
    -webkit-animation: logoshadow 3s forwards;	/* Safari 和 Chrome */
    -o-animation: logoshadow 3s forwards;	/* Opera */
}
.button:hover{
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}




/*--animation--*/
/*--logo hover--*/
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
/*--主页文字底部加载--*/
#title-animation{
-webkit-animation:bounceInDown 1s .2s ease both;
-moz-animation:bounceInDown 1s .2s ease both;}
@-webkit-keyframes bounceInDown{
0%{opacity:0;
-webkit-transform:translateY(-2000px)}
60%{opacity:1;
-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes bounceInDown{
0%{opacity:0;
-moz-transform:translateY(-2000px)}
60%{opacity:1;
-moz-transform:translateY(30px)}
80%{-moz-transform:translateY(-10px)}
100%{-moz-transform:translateY(0)}
}
#information-animation{
-webkit-animation:bounceInDown 2s .2s ease both;
-moz-animation:bounceInDown 2s .2s ease both;}
@-webkit-keyframes bounceInDown{
0%{opacity:0;
-webkit-transform:translateY(-2000px)}
60%{opacity:1;
-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes bounceInDown{
0%{opacity:0;
-moz-transform:translateY(-2000px)}
60%{opacity:1;
-moz-transform:translateY(30px)}
80%{-moz-transform:translateY(-10px)}
100%{-moz-transform:translateY(0)}
}
/*--加载后默认给logo阴影--*/
@-moz-keyframes logoshadow{
from {}
to {box-shadow: 2px 2px 0px #888888;}
}
@-webkit-keyframes logoshadow{
from {}
to {box-shadow: 2px 2px 0px #888888;}
}

